/Paskaita2/nbproject/private/
/Paskaita2/build/
/Paskaita3/nbproject/private/
/Paskaita3/build/
/Paskaita4/nbproject/private/
/Paskaita4/build/
/paskaita5/nbproject/private/
/paskaita5/build/
/Paskaita6/nbproject/private/
/Paskaita6/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/JavaApplication9(klaida)/nbproject/private/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/JavaApplication15/dist/
/JavaApplication16/nbproject/private/
/JavaApplication16/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/