/Paskaita2/nbproject/private/
/Paskaita2/build/
/Paskaita3/nbproject/private/
/Paskaita3/build/
/Paskaita4/nbproject/private/
/Paskaita4/build/
/paskaita5/nbproject/private/
/paskaita5/build/
/Paskaita6/nbproject/private/
/Paskaita6/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/JavaApplication9(klaida)/nbproject/private/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/